*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*===============nav=========*/
ul{
    list-style: none;
}


a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
    
}
nav{
 background-color: rgb(14, 13, 13);
}
nav ul{
    display: flex;
    /*kéo dài khoảng cách*/
    justify-content: space-between;
    align-items: center;
}
nav ul li,a{
    color: white;
    font-size: 12px;
}
/*logo*/
nav ul li:nth-child(1) a{
    color: red;
    justify-content: space-between;
    
    
}
/*tphcm*/
nav ul li:nth-child(2) a{
    color: yellow;
}
/*mui ten tphcm*/
nav ul li:nth-child(2) i{
    color: yellow;
    font-size: 15px;
    margin-left: 10px;
}
/*search*/
nav ul li:nth-child(5){
    position: relative;
    
}
nav ul li:nth-child(5) input{
    height: 30px;
    width: 100%;
      /*bo tròn đương viền*/
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}
nav ul li:nth-child(5) i{
    position: absolute;
    font-size: 15px;
    right:12px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
}
/*gio hang*/
nav ul li:nth-child(4) button{
    height: 30px;
    padding: 0px 8px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(241, 237, 237);
    border: 1px solid rgb(95, 94, 94);
    /*set time hiện lên ghi trỏ vào*/
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) button:hover{
    background-color:rgb(85, 81, 81) ;
}
/*lich su don hang*/
nav ul li:nth-child(6) a{
    color:yellow;
    font-size: 15px;
    margin-left: 60px;
}
nav ul li:nth-child(6) a:hover{
    color: rgb(99, 66, 66);
}
/*hoi dap*/
nav ul li:nth-child(7) a{
    color:yellow;
    font-size: 15px;
    margin-left: 60px;
}
nav ul li:nth-child(7) a:hover{
    color: rgb(99, 66, 66);
}
/* =============menu===========*/
.menu-content{
    background-color: #FED100;
}
.menu-content >  ul{
 display: flex;
 justify-content: space-between;
 margin: auto;
 max-width: 1200px;
}
.menu-content > ul > li{
    padding: 12px 6px;
    transition: all 0.5s ease;
    
}
.menu-content > ul > li > a{
    color: rgb(12, 12, 12);
    font-size: 16px;
    padding: 12px 6px;
    transition: all 0.5s ease;
}
.menu-content > ul > li > a > i{
    margin-right: 6px;
    font-size: 16px;
    
}
.menu-content  ul  li:hover {
    background-color: rgb(248, 247, 247) ;

}
/*------Set Noi giao hàng--------- */
.address{
    position: fixed;
    /*phóng to */
    width: 100xw;
    height: 100vh;
    /*làm mờ form */
    background-color: rgba(12, 12, 12, 0.6);
    /*set cho full màn hình*/
    top:0;
    left: 0;
    right: 0;

    /*set form vao giua*/
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*tạo event cho click js*/
    display:none;
    z-index: 10;
}
.address-content{
    width: 450px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
}
.address-content form{
    padding: 10px 40px;
}
.address-content h3{
    font-size: 20px;
    padding: 12px 0;
    border-bottom: 1px solid rgb(112, 103, 103);
    position: relative;
}
.address-content h3 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid rgb(112, 103, 103) ;
    right:12px;
    cursor: pointer;
    top:50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.address-content form input,select{
    height: 40px;
    display: block;
    border: 1px solid rgb(112, 103, 103) ;
    width:100% ;
    margin-top: 20px;
    padding: 6px;
    border-radius: 5px;
}
.address-content form button{
    margin-top:20px ;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #F9810D;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;

}
.address-content form button:hover{
    background-color: #e07714;
}
/*--------------------submenu---------------------*/
/*-----phu kien-------*/
.menu-content >  ul > li{
    position: relative;
}
.submenu{
    position: absolute;
    background-color: rgb(221, 169, 169) ;
    width: 500px;
    height: auto;
    left:0px ;
    top: 100%;
    padding: 10px;
    /*an submenu*/
    display: none;  
    z-index: 10;
}
.submenu1{
    position: absolute;
    background-color: rgb(221, 169, 169) ;
    width: 200px;
    height: auto;
    left:300px ;
    top: 100%;
    padding: 10px;
    /*an submenu*/
    display: none;
    z-index: 10;
}
.submenu ul{
    display: contents;
    flex-direction: column;
    z-index: 2; 
}
.submenu1 ul{
    display: contents;
    flex-direction: column;
}
.submenu ul li{
    padding: 6px 0; 
}
.submenu ul li{
    padding: 6px 0; 
}
.submenu ul li a{
    color: black;
    font-size: 15px;
    
}
.submenu1 ul li a{
    color: black;
    font-size: 15px;
    
}
.submenu  p{
    font-size: 16px;
}
.submenu1  p{
    font-size: 16px;
}
.submenu  h1{
    border-bottom: 1pt solid #e07714 ;
    padding-bottom: 5px;  
}
.submenu1  h1{
    border-bottom: 1pt solid #e07714 ;
    padding-bottom: 5px;
}
.submenu1 ul li{
    padding: 6px 0;
}
.submenu ul li:hover a {
    color: #FED100;
}
.submenu1 ul li:hover a {
    color: #FED100;
}
.submenu ul li:hover{
    background: none;
}
.submenu1 ul li:hover{
    background: none;
}

/*khi hover vao se hien len*/
.menu-content ul li:hover .submenu{
    display: block;
}
.menu-content ul li:hover .submenu1{
    display: block;
}
/*----pc----*/
.submenu2{
    position: absolute;
    background-color: rgb(221, 169, 169) ;
    width: 200px;
    height: auto;
    left: 0px;
    top: 100%; 
    display: none;
    
}
.submenu2 ul{
   display: contents;
  flex-direction: column;
}
.menu-content ul li:hover .submenu2{
    display: block;
}
.submenu2 a{
    color: black;
    font-size:15px;
}
.submenu2 ul li:hover a{
    color: #FED100;
}
.submenu2 ul li:hover {
   background: none;
}
.submenu2 ul li{
    padding: 6px 0; 
}
/*======================webphone==================================*/
.product-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-items-phone{
    margin-top: 100px;
    width: 20%; 
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.product-items-phone> img{
    width: 100%;
}
.product-items-phone-text {
    padding-top: 20px;
}
.product-items-phone-text li{
    margin-bottom: 6px;
}
.product-items-phone-text li:first-child a{
    height: 30px;
    width: 70%;
    background-color: rgb(25, 149, 211);
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 20px;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.product-items-phone-text li:first-child p{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.product-items-phone-text li:first-child img{
    width: 20px;
    float:left;
    margin-right: 6px;
}
.product-items-phone-text li:last-child i{
    color: rgb(251,110,46);
}
.product-items-phone-text li:nth-child(4) a{
    text-decoration: line-through;
}
.product-items-phone-text li:nth-child(5) a{
    font-weight: bold;
}
.product-items-phone-text a{
    color: rgb(17, 17, 17);
    font-size: 20px;
}
.product-items-phone:hover >img{
    transform: translateY(-20px);
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-items-phone-text li:hover{
    cursor: pointer;
}
.ram-text{
    display: flex;
    justify-content:space-around  ;
}
.ram-text li{
    width: auto;
    border: 1px solid #333;
}
.ram-text li.active1{
    border: 2px solid rgb(64, 25, 236);
    color: rgb(64, 25, 236);
}
.product-items-phone1{
    margin-top: 100px;
    width: 20%; 
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.product-items-phone1> img{
    width: 100%;
}
.product-items-phone-text1 {
    padding-top: 20px;
}
.product-items-phone-text1 li{
    margin-bottom: 6px;
}
.product-items-phone-text1 li:first-child a{
    height: 100%;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 20px;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.product-items-phone-text1 li:first-child p{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.product-items-phone-text1 li:first-child img{
    width: 60px;
    float:left;
    margin-right: 60px;
}
.product-items-phone-text1 li:last-child i{
    color: rgb(251,110,46);
}
.product-items-phone-text1 li:nth-child(4) a{
    text-decoration: line-through;
}
.product-items-phone-text1 li:nth-child(5) a{
    font-weight: bold;
}
.product-items-phone-text1 a{
    color: rgb(17, 17, 17);
    font-size: 20px;
}
/**/
.product-items-phone2{
    margin-top: 100px;
    width: 20%; 
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.product-items-phone2> img{
    width: 100%;
}
.product-items-phone-text2 {
    padding-top: 20px;
}
.product-items-phone-text2 li{
    margin-bottom: 6px;
}
.product-items-phone-text2 li:first-child a{
    height: 20px;
    width: 70%;
    background-color: rgb(175, 44, 27);
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 20px;
    border-radius: 40px;
    transition: all 0.3s ease;
}
.product-items-phone-text2 li:first-child p{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.product-items-phone-text2 li:first-child img{
    width: 20px;
    float:left;
    margin-right: 6px;
}
.product-items-phone-text2 li:last-child i{
    color: rgb(251,110,46);
}
.product-items-phone-text2 li:nth-child(4) a{
    text-decoration: line-through;
}
.product-items-phone-text2 li:nth-child(5) a{
    font-weight: bold;
}
.product-items-phone-text2 a{
    color: rgb(17, 17, 17);
    font-size: 20px;
}
/*==========================lapweb================================*/
.lap-banner img{
    width: 100%;
}
.lap-content{
    display: flex;
    width: auto;
    height: 60px;
    justify-content: space-around;
    background-color: #333;
}

.lap-content img{
    background-color: white;
    border: 2px solid rgb(82, 49, 49);
    height: 50px;
    border-radius:50px ;
}
.mac-banner img{
    width: 100%;
    height: 250px;
}
.product-items-phone {
    background-color: white;
}
.product-items-phone2 {
    background-color: white;
}
.product-items-phone1{
    background-color: white;
}
/*=================================phukien.html===========================================*/
.pkban img{
    width: 100%;
}
body{
    background-color: rgb(255,237,151);
}
.ban1 {
    padding:  80px 0px 8px;
}